<Layouts.app flash={@flash}>
  <div class="mx-auto max-w-sm">
    <.header>Set a new password</.header>
    <.form for={@form} id="reset_form" phx-submit="save">
      <.input field={@form[:password]} type="password" label="New password" required />
      <.input field={@form[:password_confirmation]} type="password" label="Confirm new password" required />
      <.button class="w-full">Reset password</.button>
    </.form>
  </div>
</Layouts.app>
