<Layouts.app flash={@flash}>
  <div class="mx-auto max-w-sm">
    <.header>Register</.header>

    <.form
      for={@form}
      id="registration_form"
      action="/users/register"
      method="post"
      phx-submit="save"
      phx-change="validate"
      phx-trigger-action={@trigger_submit}
    >
      <.input field={@form[:email]} type="email" label="Email" required />
      <.input field={@form[:password]} type="password" label="Password" required />
      <.button phx-disable-with="Creating account..." class="w-full mt-4">
        Create account
      </.button>
    </.form>
  </div>
</Layouts.app>
